################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HELLION.Explorer/HELLION.Explorer_TemporaryKey.pfx
