<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HELLION.Explorer.Properties.HELLIONExplorer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="HELLION_Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <HELLION.Explorer.Properties.HELLIONExplorer>
            <setting name="sGameDataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="sBlueprintsFolder" serializeAs="String">
                <value />
            </setting>
        </HELLION.Explorer.Properties.HELLIONExplorer>
        <HELLION_Explorer.Properties.Settings>
            <setting name="sGameDataFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="bLoadCelestialBodiesFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sCelestialBodiesFileName" serializeAs="String">
                <value>CelestialBodies.json</value>
            </setting>
            <setting name="bLoadAsteroidsFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sAsteroidsFileName" serializeAs="String">
                <value>Asteroids.json</value>
            </setting>
            <setting name="bLoadStructuresFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sStructuresFileName" serializeAs="String">
                <value>Structures.json</value>
            </setting>
            <setting name="bLoadDynamicObjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DynamicObjectsFile" serializeAs="String">
                <value>DynamicObjects.json</value>
            </setting>
        </HELLION_Explorer.Properties.Settings>
    </userSettings>
</configuration>
